<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Relinker.pl</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/jquery.jcarousel.css" type="text/css" media="all" />
<link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/func.js"></script>
<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
<!-- START PAGE SOURCE -->
<div class="shell">
  <div id="header">
    <img src="images/relinker-logo2.jpg" class="logo" />
     <%= erb :nawigacja %>
  </div>
  <div id="main">
    <div id="content" class="left">
<h1>O aplikacji</h1>
<p>Relinker to prosta aplikacja, która ma pomóc znaleźć domeny, z których można zdobyć linki.</p>
<p>Obecnie sprawdza bazę wpisów sponsorowanych whitepress.pl, linkhouse.pl,  Jest też możliwość sprawdzenia czy dana domena jest forum (to jeszcze we wczesnym etapie). Być może w przyszłości pojawi się więcej opcji sprawdzeń. </p>
<p>Do sprawdzenia trzeba dostarczyć swoją listę domen - np. na bazie aucytu konkurencji z pomocą Majestic czy Ahrefs. Dzięki relinkerowi można znaleźć łatwiej listę ciekawych domen do publikacji do własnego projektu.
</p>

     
    </div>

    <div class="cl">&nbsp;</div>
  </div>
     <%= erb :stopka %>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>
