    <div id="navigation">
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/sprawdz-linki-sponsorowane">Sponsorowane</a></li>
        <li><a href="/sprawdz-linki-forum">Fora</a></li>
        <li class="last"><a href="/kontakt">Kontakt</a></li>
      </ul>
      <div class="cl">&nbsp;</div>
    </div>