    <div id="sidebar" class="right">
      <div class="item"> <span class="date">Problemy?</span>
        <h3>Napisz do nas</h3>
        <p>Jeśli napotkałeś problemy przy działaniu aplikacji, najlepiej zrób screen i podeślij informacje na dane z podstrony kontakt.</p>
      </div>
    </div>