 <div class="footer">
    <p class="lf">Copyright &copy; 2018 <a href="#">relinker.pl</a></p>
    <p class="rf">by <a href="https://carted.pl/" target="_blank">carted.pl</a></p>
    <div style="clear:both;"></div>
  </div>