root = "#{Dir.getwd}"

#bind "unix://#{root}/tmp/puma/socket"
bind "tcp://127.0.0.1:8088"
pidfile "#{root}/tmp/puma/pid"
state_path "#{root}/tmp/puma/state"
rackup "#{root}/config.ru"

threads 4, 8

activate_control_app
